body {
	font-family: Arial, Helvetica, sans-serif;
}
img {
	width: 20px;
	height: auto;
}
a {
	color: inherit;
	font-style:none;
	text-decoration: none;
}
.burger {
	float: left;
	background-color: #333333;
	color: white;
	/*margin: 10px;*/
	padding: 10px;
}
.burger li {
	display: none;
	padding:5px;
	border-top: black 1px solid;
	text-align: justify;
	list-style-type: square;
	list-style-position: inside;
}
.burger li:first-child{
	display: block !important;
	border: none;
	padding:10px;
	background-color: #4caf50
}
.burger:hover li{
	display:list-item;
}